<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% block title %} {% endblock %}
</head>
<body>
<div class="container-fluid">
			<div class="row bg-light">
				<div class="col-md-9">
					<ul class="nav navbar-expand-lg flex-row">
						<li class="nav-item">
							<a class="nav-link" href="/index">Главная</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/add_post">Добавить задачу</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/posts">Показать задачи</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/profile">Профиль</a>
						</li>
					</ul>
				</div>

				<div class="col-md-1">
					<form action="/login_page" method="GET">
					<button type="submit" class="btn btn-success">
						Вход
					</button>
					</form>
				</div>
				<div class="col-md-2">
					<form action="/auth" method="GET">
					<button type="submit" class="btn btn-outline-primary" value="Register">
						Регистрация
					</button>
					</form>

				</div>
			</div>
</div>
    {% block body %} {% endblock %}
</body>
</html>