{% extends "base.html" %}

{% block title %}
    <title>Задачи</title>
{% endblock %}

{% block body %}
    <h1>Тут ваши задачи</h1>
<div class="container-fluid">
	<div class="row">

		<div class="col-md-12">
			<table class="table-hover table-bordered">
				<tr>
					<th>Задача</th>
					<th>Содержание</th>
				</tr>

                {% for task in data %}
            <tr>
                <td>{{ task.task_name }} </td>
                <td>{{ task.task }} </td>

                <td>
                    <form action="/delete_post/{{ task.id }}">
					<button type="submit">
						Удалить запись
					</button>
					</form>
                </td>
            </tr>
            {% endfor %}

            </table>


		</div>
	</div>
</div>
{% endblock %}